@font-face {
  font-family: 'Genericons';
  src: url('assets/fonts/genericons-regular-webfont.eot');
  src: url('assets/fonts/genericons-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/genericons-regular-webfont.woff') format('woff'),
    url('assets/fonts/genericons-regular-webfont.ttf') format('truetype'),
    url('assets/fonts/genericons-regular-webfont.svg#genericonsregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

svg {
  cursor: pointer;
}

body {
  background-color: rgb(244, 245, 246);
}

body > div {
  max-width: 1310px;
}

img {
  border-radius: 0% !important;
}

/******* HEADER START *******/

header {
  background-color: white;
  position: relative;
}

#header-logo {
  width: 395.6px;
  fill: white;
}

@media screen and (max-width: 991px) {
  #header-logo {
    width: 132px;
  }
}

.fa-bars {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}

#red-header {
  background-color: #f72210;
}

#login-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
#login-button:focus {
  box-shadow: none !important;
}

#subscribe-button {
  display: inline-flex;
  align-items: center;
  background-color: #ffe400;
  color: rgb(52, 58, 64);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 14px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-indent: 0px;
}

#subscribe-button::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 11px;
  margin-left: 9px;
  background-color: black;
  -webkit-mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg)
    center / contain no-repeat;
  mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center /
    contain no-repeat;
}

.fa-sun {
  font-size: 19px;
}

#weather-div p:first-child {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 34px;
}

#weaher-div p:last-child {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 24px;
  line-height: 24px;
}

nav > ul:first-child > li {
  border-right: 1px solid rgb(217, 217, 217);
  font-size: 17px;
  font-weight: 700;
  justify-self: center;
}

nav > ul:first-child > li:last-child {
  border: none;
}

nav > ul:first-child > li:nth-last-child(2) {
  border: none;
}

#search {
  border: none;
  outline: none;
  box-shadow: none;
  max-width: 65px;
}

#search:focus,
#search:active {
  border: none;
  outline: none;
  box-shadow: none;
  max-width: 65px;
  z-index: 0;
}

.fa-search {
  padding-top: 11px;
  padding-left: 2px;
}

@media screen and (min-width: 993px) {
  nav::after {
    position: absolute;
    top: 94px;
    right: 0;
    content: '';
    display: block;
    width: 65px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}

nav > ul:nth-child(2) {
  border-top: 2px solid #f4f5f7 !important;
  border-bottom: 2px solid #f4f5f7 !important;
}

nav > ul:nth-child(2) > li {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

nav > ul:nth-child(2) > li:first-child:hover,
nav > ul:first-child > li:last-child:hover {
  color: initial;
}

nav > ul:nth-child(2) > li {
  color: rgb(128, 127, 132);
}

nav > ul > li > a:hover {
  color: #f72210 !important;
}

nav > ul:nth-child(2) > li:first-child,
nav > ul:nth-child(2) > li:first-child a {
  color: black !important;
  cursor: text;
}

/******* HEADER END *******/

/******* MAIN SECTION START *******/

.card {
  border: none !important;
}

.column-title {
  color: rgba(3, 3, 3, 0.4);
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  height: 27px;
  line-height: 16px;
}

h5.card-title {
  padding: 12px 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

h5.card-title:hover {
  text-decoration: underline #f72210;
}

.basic-text {
  color: rgba(51, 51, 51, 0.85);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .basic-text {
    font-size: 13px;
  }
}

.card-related {
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-weight: 700;
  line-height: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  text-decoration: none;
}

.card-related:hover {
  color: #f72210;
  cursor: pointer;
  text-decoration: none;
}

.article-image-wrapper {
  position: relative;
}

.article-image-wrapper > img {
  cursor: pointer;
}

.category {
  display: block;
  font: bold 17px/16px 'Roboto Condensed', sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.category > a {
  color: inherit;
  text-decoration: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.muted-title {
  color: rgba(3, 3, 3, 0.5);
  cursor: pointer;
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  text-decoration: none;
}

.muted-title:hover,
.no-decoration:hover {
  text-decoration: none !important;
  color: rgba(3, 3, 3, 0.5) !important;
}

.third > div {
  max-width: 33.84%;
}

.third-2 > div {
  max-width: 33.84%;
}

.third-2 > div:first-child {
  max-width: 32.35% !important;
}

.next-title {
  color: rgba(3, 3, 3, 0.5);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  line-height: 16px;
}

.tag {
  font: bold 13px/20px 'Roboto condensed', Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tag a {
  color: rgb(51, 51, 51);
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
}

#more-stories-title {
  border-bottom: 1px solid #ddd;
}

.more-stories-image {
  width: 95px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.more-stories-article-title {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.more-stories-article-title:hover {
  color: initial;
  text-decoration-color: #f72210;
}

.more-stories-article {
  border-bottom: 1px solid #ddd;
}

.more-stories-article:last-child {
  border: none;
}

/******* MAIN SECTION END *******/

/******* ASIDE SECTION START *******/

.fat-border {
  border-bottom: 4px solid #d9d9d9;
}

.face {
  width: 63px;
  height: 63px;
  margin-right: 11px;
  cursor: pointer;
}

.face-article {
  padding-top: 13px;
}

.face-headline {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 0;
}

.face-headline:hover {
  text-decoration: underline #f72210;
}

.debate-author {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 700;
  line-height: 21px;
}

.debate-author > span {
  color: rgb(85, 85, 85);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 21px;
}

#vs-spacer::before,
#vs-spacer::after {
  content: '';
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 6%;
  right: 0;
  width: 88%;
}

#vs-spacer::before {
  top: calc(53.75% - 2px);
}

#vs-spacer::after {
  top: 53.75%;
}

@media screen and (min-width: 1119px) and (max-width: 1173px) {
  #vs-spacer::before {
    top: calc(56.75% - 2px);
  }

  #vs-spacer::after {
    top: 56.55%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1118px) {
  #vs-spacer::before {
    top: calc(50.25% - 2px);
  }

  #vs-spacer::after {
    top: 50.25%;
  }
}

@media screen and (min-width: 1043px) and (max-width: 1042px) {
  #vs-spacer::before {
    top: calc(53.25% - 2px);
  }

  #vs-spacer::after {
    top: 53.25%;
  }
}

#vs-icon {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 6px auto;
}

#face-2 {
  margin-right: 0px !important;
  margin-left: 11px;
}

.opinion-author {
  color: rgb(85, 85, 85);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: 600;
  height: 21px;
  line-height: 16px;
}

.face-opinion {
  border-bottom: 1px solid #ddd;
}

#face-special-padding {
  padding-bottom: 23px;
}

.no-border {
  border: none;
}

#newsgeek-icon {
  display: block;
  width: 43px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

#newsletter-headline-div {
  font: bold 19px/19px 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  align-items: center;
}

#newsletter-div {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

input[type='email'] {
  color: #555;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
  width: 100%;
  height: 32px;
  line-height: 32px;
}

#sign-up {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: url(https://g.newsweek.com/www/images/free-sign-up.svg)
    center/108px no-repeat #f61602;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 8px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

/******* ASIDE SECTION END *******/

/******* MAGAZINE SECTION START *******/

.n-icon {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.n-title {
  font: bold 19px/19px 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 12px;
}

.red-tag {
  display: block;
  font: bold 16px/33px 'Roboto Condensed', sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.red-tag a {
  text-decoration: none;
  color: inherit;
}

#see-all-features {
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

#see-all-features::after {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
  content: '';
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
}

.magazine-category-red {
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.magazine-category-white {
  color: rgb(247, 34, 16);
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.magazine-article h6 {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.magazine-article h6:hover {
  text-decoration: underline #f72210;
}

.magazine-image-wrapper img {
  width: 100%;
}

@media (min-width: 768px) {
  .magazine-image-wrapper img {
    display: none;
  }

  .magazine-image-wrapper {
    display: block;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
  }
}

/******* MAGAZINE SECTION END *******/

/******* EDITOR'S PICKS SECTION START *******/

#editor-picks h6 {
  font-size: 24px;
}

/******* EDITOR'S PICKS SECTION END *******/

/******* SECTIONS START *******/

.section {
  border-top: 1px solid #d9d9d9;
}

.section-heading {
  color: rgb(247, 34, 16);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
}

.smaller-image {
  object-fit: cover; /* Do not scale the image */
  object-position: center;
  width: 95px;
  height: 63px;
}

.section h6 {
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .section h6 {
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

.square-image-95 {
  object-fit: cover;
  object-position: center;
  width: 95px;
  height: 95px;
}

.section h4 {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-weight: 700;
  line-height: 21px;
}

/****** SECTIONS END ******/

/******* SUBSCRIBE SECTION START  *******/

#subscribe-section {
  border-top: 2px solid #f4f5f7;
  border-bottom: 2px solid #f4f5f7;
}

#subscribe-section h6 {
  color: rgb(247, 34, 16);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

#covers {
  position: relative;
  padding-right: 90px;
}

#current-cover {
  position: absolute;
  top: 13px;
  left: 80px;
}

#subscribe-div {
  background-color: #f4f5f6;
  padding: 30px;
}

#subscribe-section h3 {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
}

#subscribe-section p {
  color: rgb(51, 51, 51);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 20px;
}

#subscribe-section button {
  font: 500 17px 'Roboto', sans-serif;
  cursor: pointer;
  background-color: #f72310;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 10px 10px 12px;
  border-radius: 3px;
  border: none;
}

#subscribe-section button::after {
  width: 8px;
  height: 14px;
  content: '';
  display: inline-block;
  margin-left: 9px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center /
    contain no-repeat;
}

#newsletter-image {
  background: url(./assets/images/newsletter-image.png) center center / cover
    no-repeat;
  flex: none;
}

@media screen and (min-width: 768px) {
  #newsletter-image {
    width: 48%;
    max-width: 191px;
  }
}

#newsletter-div-2 {
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  flex: 1;
}

#newsletter-div-2 button {
  width: 100%;
}

#newsletter-div-2 div:last-child {
  width: 100%;
}

#newsletter-div-2 h3 {
  margin-bottom: 10px;
}

#newsletter-div-2 p {
  margin-bottom: 15px;
}

#newsletter-email {
  color: #555;
  font-size: 14px;
  font-family: 'Helvetica', sans-serf;
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
  width: 100%;
  height: 38px;
  line-height: 38px;
}

@media screen and (max-width: 767px) {
  form {
    width: 100%;
  }
}

/******* SUBSCRIBE SECTION END  *******/

/******* FOOTER START  *******/

#footer-logo {
  fill: red;
  width: 236px;
}

#footer-logo-row {
  border-bottom: 1px solid #d9d9d9;
}

#copyright {
  color: rgb(102, 102, 102);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.icon {
  color: rgb(102, 102, 102);
}

.fb:before {
  content: '\f203';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 26px/1 'Genericons';
  vertical-align: top;
}

.fb:hover {
  color: #3b5998;
}

.twitter:before {
  content: '\f202';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 26px/1 'Genericons';
  vertical-align: top;
  padding: 0 7px 0 14px;
}

.twitter:hover {
  color: #1da1f2;
}

.ig:before {
  content: '\f215';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 26px/1 'Genericons';
  vertical-align: top;
  padding: 0 7px;
}

.ig:hover {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tumblr:before {
  content: '\f214';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 26px/1 'Genericons';
  vertical-align: top;
  padding-right: 3px;
}

.tumblr:hover {
  color: #34526f;
}

.linkedin:before {
  content: '\f207';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 32px/1 'Genericons';
  vertical-align: bottom;
}

.linkedin:hover {
  color: #2867b2;
}

#editions {
  color: rgb(102, 102, 102);
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 6px;
}

.footer-link {
  color: rgb(102, 102, 102);
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 15px;
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 6px;
}

.footer-link:hover {
  text-decoration: none;
  color: black;
}
